---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = "About Me";
---

<html lang="en">
   <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    <BaseLayout title="about justin">
    <h1>{pageTitle}</h1>
    <h2>Justin D. Kim</h2>

    <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>
  </BaseLayout>
  </body>
</html>