---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = "About Me";
---

<html lang="en">
   <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    <BaseLayout title="about justin">
    <header class="flex flex-col justify-end items-center h-screen p-4">
      <div id="intro" class="h-3/5">
        <h2 id="first" class="text-2xl sm:text-4xl">hi, my name is</h2>
        <h1 id="second" class="text-5xl sm:text-9xl">Justin D. Kim</h1>
        <h3 id="secondhalf" class="text-lg sm:text-xl sm:text-right">he/him</h3>
        <h3 id="third" class="text-lg sm:text-xl sm:text-right">i am a software developer based in las vegas, nevada</p>
      </div>
    </header>
    <section id="fifth" class="flex flex-col items-center h-screen p-8">
      <div class="xl:w-3/5">
        <ul class="h-3/5 list-disc">
          <h1 class="text-5xl md:text-6xl xl:text-8xl underline">About Me</h1>
          <li class="text-md md:text-xl 2xl:text-3xl mt-6">
            UNR graduate with a Bachelor of Science in Business Administration with a major in Information Systems.
          </li>
          <li class="text-md md:text-xl 2xl:text-3xl mt-3">
            I currently work at the Clark County Flood Control District as a Programmer Analyst II.
          </li>
          <li class="text-md md:text-xl 2xl:text-3xl mt-3">
            I have worked at the City of Henderson as a Computer Analyst I where I assisted with help desk duties.
          </li>
          <li class="text-md md:text-xl 2xl:text-3xl mt-3">
            Primarily experienced with C# and JavaScript; comfortable with Python, SQL, and learning new languages and frameworks.
          </li>
          <li class="text-md md:text-xl 2xl:text-3xl mt-3">
            I am also comfortable using cloud service providers like Azure and AWS. I have a <a href="https://www.credly.com/badges/67ef9949-cf7a-4fcd-a7ab-d3470aa1f255" class="underline">Microsoft Certified: Azure Fundamentals certification</a>.
          </li>
          <li class="text-md md:text-xl 2xl:text-3xl mt-3">
            I develop and play video games, my favorite game being Hollow Knight!
            <img src="https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/items/367520/b2e50d3cc54ab9b248341c36fd8a368f0fb88cc7.png" width="30px" class="inline" />
          </li>
          <li class="text-md md:text-xl 2xl:text-3xl mt-3">
            I am also learning to play the guitar, golf, and practicing mixology in my spare time. 
          </li>
        </ul>
      </div>
    </section>
  </BaseLayout>
  <script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger);

    window.addEventListener("load", () => {
      const tl = gsap.timeline();
      tl.from("#first", { opacity: 0, duration: 1, x: -100 });
      tl.from("#second", { opacity: 0, duration: 1, x: -100 });
      tl.from("#secondhalf", { opacity: 0, duration: 0.5, x: -100 });
      tl.from("#third", { opacity: 0, duration: 0.5, x: -100 });
      tl.from("#fourth", { opacity: 0, duration: 0.5, x: -100 });
    })
    
    gsap.to("#intro", { scrollTrigger: { scrub: true, trigger: '#fifth', start: 'top bottom', end: 'top center' }, opacity: 0, y: -300 });
    gsap.from("#fifth", { scrollTrigger: { scrub: true, trigger: 'header', start: 'center center', end: 'center top' }, opacity: 0, x: -300 });

  </script>
  </body>
</html>