---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = "About Me";
---

<html lang="en">
   <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    <BaseLayout title="about justin">
    <header class="flex flex-col justify-end items-center h-screen p-4">
      <div id="intro" class="h-3/5">
        <h2 id="first" class="text-2xl sm:text-4xl">hi, my name is</h2>
        <h1 id="second" class="text-5xl sm:text-9xl">Justin D. Kim</h1>
        <h3 id="secondhalf" class="text-lg sm:text-xl sm:text-right">he/him</h3>
        <h3 id="third" class="text-lg sm:text-xl sm:text-right">i am a software developer based in las vegas, nevada</p>
        <h3 id="fourth" class="text-lg sm:text-xl sm:text-right">this presentation can be found at <a href="." class="underline">https://justind.kim/about/</a></h3>
      </div>
    </header>
    <section class="flex flex-col items-center h-screen p-8">
      <div class="2xl:w-3/5">
        <ul id="fifth" class="h-3/5 list-disc">
          <h1 class="text-5xl sm:text-8xl underline">About Me</h1>
          <li class="text-md md:text-xl 2xl:text-3xl mt-6">
            UNR graduate with a Bachelor of Science in Business Administration with a major in Information Systems.
          </li>
          <li class="text-md md:text-xl 2xl:text-3xl mt-3">
            I currently work at the Clark County Flood Control District as a Programmer Analyst.
          </li>
          <li class="text-md md:text-xl 2xl:text-3xl mt-3">
            I have worked at the City of Henderson as a Computer Analyst where I assisted with help desk duties.
          </li>
          <li class="text-md md:text-xl 2xl:text-3xl mt-3">
            Primarily experienced with C# and JavaScript; comfortable with Python, SQL, and learning new languages and frameworks.
          </li>
          <li class="text-md md:text-xl 2xl:text-3xl mt-3">
            I am also comfortable using cloud service providers like Azure and AWS. I have a <a href="https://www.credly.com/badges/67ef9949-cf7a-4fcd-a7ab-d3470aa1f255" class="underline">Microsoft Certified: Azure Fundamentals certification</a>.
          </li>
          <li class="text-md md:text-xl 2xl:text-3xl mt-3">
            I develop and play video games, my favorite game being Hollow Knight!
            <img src="https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/items/367520/b2e50d3cc54ab9b248341c36fd8a368f0fb88cc7.png" width="30px" class="inline" />
          </li>
          <li class="text-md md:text-xl 2xl:text-3xl mt-3">
            I am also learning to play the guitar, golf, and practicing mixology in my spare time. 
          </li>
        </ul>
      </div>
    </section>
    <section id="sixth" class="flex flex-col items-center h-screen p-8 w-100">
      <div class="2xl:w-3/5">
        <h1 class="text-5xl lg:text-8xl underline">Application support</h1>
        <ul class="h-3/5 list-disc">
          <li class="text-lg lg:text-3xl mt-6">
            I currently develop and maintain desktop and web applications at the Clark County Flood Control District.
          </li>
          <li class="text-lg lg:text-3xl mt-6">
            Built and automated processes including documentation and financial data entry.
          </li>
          <li class="text-lg lg:text-3xl mt-6">
            Perform regular package updates and bug fixes for existing applications.
          </li>
          <li class="text-lg lg:text-3xl mt-6">
            Modernize deprecated applications to use the latest frameworks and technologies.
          </li>
          <li class="text-lg lg:text-3xl mt-6">
            Automated certain IT processes using PowerShell and Task Scheduler.
          </li>
        </ul>
      </div>
    </section>
    <section id="seventh" class="flex flex-col items-center h-screen p-8 w-100">
      <div class="2xl:w-3/5">
        <h1 class="text-5xl sm:text-8xl underline">Application lifecycle management</h1>
        <ul class="h-3/5 list-disc">
          <li class="text-lg lg:text-3xl mt-6">
            My current position provides support for pre-existing applications as well as experimentation with new technologies.
          </li>
          <li class="text-lg lg:text-3xl mt-3">
            Security and accessibility are top priorities for me. I keep up with current vulnerabilities and best practices.
          </li>
          <li class="text-lg lg:text-3xl mt-3">
            Maintainability and readability are important to me. Writing clean and efficient code and documentation.
          </li>
          <li class="text-lg lg:text-3xl mt-3">
            Familiar with Agile and Scrum methodologies for project management.
          </li>
        </ul>
      </div>
    </section>
    <section id="eighth" class="flex flex-col items-center h-screen p-8 w-100">
      <div class="2xl:w-3/5">
        <h1 class="text-5xl sm:text-8xl underline">Troubleshooting</h1>
        <ul class="h-3/5 list-disc">
          <li class="text-lg lg:text-3xl mt-6">
            Public Information team needed an application that would help keep track of their events.
          </li>
          <li class="text-lg lg:text-3xl mt-3">
            Access to the application while on the field was important. Sounded like a good fit for a web application. Used Blazor and ASP.NET to develop the application.
          </li>
          <li class="text-lg lg:text-3xl mt-3">
            Events needed to track volunteers, equipment, and supply of goodies. MS SQL Server database was used to store data.
          </li>
          <li class="text-lg lg:text-3xl mt-3">
            We needed a login to keep outsiders out and for authorization purposes. Entra ID (Azure AD) and Microsoft Graph were used.
          </li>
        </ul>
      </div>
    </section>
    <section id="ninth" class="flex flex-col items-center h-screen p-8 w-100">
      <div class="2xl:w-3/5">
        <h1 class="text-5xl sm:text-8xl underline">Customer Service</h1>
        <ul class="h-3/5 list-disc">
          <li class="text-lg lg:text-3xl mt-6">
            I believe the most important thing is keeping stakeholders and end users satisfied.
          </li>
          <li class="text-lg lg:text-3xl mt-3">
            At my current position, I email and set up meetings with users and keep them updated on any issues or changes.
          </li>
          <li class="text-lg lg:text-3xl mt-3">
            Working at the help desk in City of Henderson, I was able to provide excellent customer service to users with an average satisfaction score of 98.8%.
          </li>
        </ul>
      </div>
    </section>
    <section id="tenth" class="flex flex-col justify-center items-center h-screen p-8">
      <h1 class="text-5xl sm:text-8xl underline hover:cursor-pointer">Thank You!</h1>
    </section>
  </BaseLayout>
  <script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger);

    window.addEventListener("load", () => {
      const tl = gsap.timeline();
      tl.from("#first", { opacity: 0, duration: 1, x: -100 });
      tl.from("#second", { opacity: 0, duration: 1, x: -100 });
      tl.from("#secondhalf", { opacity: 0, duration: 0.5, x: -100 });
      tl.from("#third", { opacity: 0, duration: 0.5, x: -100 });
      tl.from("#fourth", { opacity: 0, duration: 0.5, x: -100 });
    })
    
    gsap.to("#intro", { scrollTrigger: { scrub: true, trigger: '#fifth', start: 'top bottom', end: 'top center' }, opacity: 0, y: -300 });
    gsap.from("#fifth", { scrollTrigger: { scrub: true, trigger: 'header', start: 'center center', end: 'center top' }, opacity: 0, x: -300 });
    gsap.from("#sixth", { scrollTrigger: { scrub: true, trigger: '#fifth', start: 'center center', end: 'bottom top' }, opacity: 0, x: -300 });
    gsap.from("#seventh", { scrollTrigger: { scrub: true, trigger: '#sixth', start: 'center center', end: 'bottom top' }, opacity: 0, x: -300 });
    gsap.from("#eighth", { scrollTrigger: { scrub: true, trigger: '#seventh', start: 'center center', end: 'bottom top' }, opacity: 0, x: -300 });
    gsap.from("#ninth", { scrollTrigger: { scrub: true, trigger: '#eighth', start: 'center center', end: 'bottom top' }, opacity: 0, x: -300 });
    gsap.from("#tenth", { scrollTrigger: { scrub: true, trigger: '#tenth', start: 'top center', end: 'center center' }, opacity: 0, y: 300 });

    document.getElementById("tenth").addEventListener("click", () => {
      gsap.to("#tenth", { duration: 1, rotation: 360 });
    });

  </script>
  </body>
</html>