---
import Social from './Social.astro';
---

<footer class="bottom-0">
  <hr class="w-3/4 mx-auto my-4" />
  <p>created with astro 🚀</p>
  <p>learn more about my projects on <a href=`https://www.github.com/kimjustind` class="underline" target="_blank">GitHub</a>!</p>
  <Social platform="LinkedIn" username="in/kimjustind" />
</footer>