---
const platform = "github";
const username = "kimjustind";
import Social from './Social.astro';
---

<footer>
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
  <Social platform="twitter" username="tbhvery" />
  <Social platform="github" username="kimjustind" />
  <Social platform="youtube" username="@tbhvery" />
</footer>