---
import Links from "./Links.astro";
---
<nav>
    <Links link="Home"/>
    <Links link="About"/>
    <Links link="Blog"/>
    <Links link="Tags"/>
</nav>
<style>
    nav {
        background-color: #14141480;
        display: flex;
        justify-content: center;
    }
</style>