---
import '../style/app.css'
import '../style/tailwind.css'
import Navigation from '../components/Navigation.astro'
import Footer from '../components/Footer.astro'

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
  </head>
  <body>
    <Navigation/>
    <slot />
    <Footer/>
  </body>
</html>

<style>
  body {
    margin: 0;
  }
</style>